body{

    color: aliceblue;
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    background-color: orangered;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    text-decoration: none;
    display: flex;
    background-color: blue;
    height: 10vh;
    justify-content: space-between;
    place-items: center;
}

body main .header .nav{ 
    text-align: end;
    width: 50%;
}

body main .header .nav ul{
    text-decoration: none;
    display: flex;
    gap: 2rem;
    justify-content: right;
    padding-right: 30px;
    font-weight: bold;
}

.logo {
    width: 50%;
    text-decoration: none;
    color: white;

}

.box {
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold; 
}

main div.header div.nav ul li {
    list-style: none;
}

a {
    text-decoration: none;

}

